{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/home.css' %}">

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>

    <title>Cookie VA</title>
</head>

<body>

    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper">
            <a href="" class="brand-logo center"><h4 class="title">Cookie The Virtual Assisstant</h4></a>
            <ul id="nav" class="left">
                
            </ul>
        </div>
    </nav>

    <!-- Sidebar icons -->
    <input type="checkbox" id="check">
    <label for="check">
        <i class="material-icons menu-icon" id="menu">menu</i>
        <i class="material-icons menu-icon" id="cancel">cancel</i>
    </label>

    <!-- Sidebar -->
    <div class="sidebar">
        <header>Menu</header>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Cookie</a></li>
            <li><a href="">Next Update</a></li>
            <li><a href="">Cookie commands</a></li>
        </ul>
    </div>
    
    {% block content %}

    {% endblock %}

    <!-- End of HTML -->

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

    <!-- Materialize JS -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom Js -->
    <script src="{% static 'home/base.js' %}"></script>
</body>

</html>