{% extends 'home/base.html' %}

{% block content %}
<div id="main-container">
    <div class="container frame" id="search-container">
        <div class="title-tagline">
            <h2 class="center purple-text" id="docs-title">Cookie Documentation</h2>
        </div>
        <br>
        <div id="introduction-tab">
            <h4 class="pink-text text-lighten-1 doc-head"><b>Introduction</b></h4>
            
            <h6 class="cyan-text doc-content">
                <b>
                Cookie is a trial application built out of interest. It is developed by few students who are highly
                interested in software development and require the greatest support of the people who visit this web
                application and make use of it. It has two core branches Cookie the Virtual Assistant and Cookie
                learning. To learn more about Cookie Learning visit cookielearning.herokuapp.com . In this documentation
                you will learn everything about Cookie VA.</b>
            </h6>
        </div>
        <div id="about-tab">
            <h4 class="pink-text text-lighten-1 doc-head"><b>About Cookie VA</b></h4>

            <h6 class="cyan-text doc-content">
                <b>
                    Cookie the Virtual Assistant is a web application built with python and django web development
                    framework for the purpose of making various search engines interactive and better. Cookie just acts
                    as a platform between various other softwares and helps you to fetch your required data in a matter
                    of time. <br>
                    <br>
                    <br>
                    <i style="color: black;"> # Note that Cookie is not a copyrighted web application and its developers hold no intent of
                    stealing external data or misusing search engines.</i>
                </b>
            </h6>
        </div>
        <div id="what-tab">
            <h4 class="pink-text text-lighten-1 doc-head"><b>What Cookie 1.0 Does?</b></h4>

            <h6 class="cyan-text doc-content">
                <b>
                    Cookie is built to handle both voice searches and written keywords. This enables high efficiency and
                    cookie can fetch data in much faster time. Cookie can search through many platforms such as Google,
                    Wikipedia, YouTube and Google Maps. We are also about to add new amazing features to cookie in the
                    upcoming versions. To learn more about the upcoming versions read “The New Updates” article.
                    <br>
                    <br>
                    <br>
                    The basic in-built functionalities of cookie are it can wish you at anytime. For example- “Good
                    Afternoon Cookie” gives output “Good Afternoon”. Cookie has also got inbuilt feature of reporting
                    the time whenever asked.
                </b>
            </h6>
        </div>
        <div class="bottom-tab">
            <h5>
                Learn more about programming and become a master programmer in  <a href="https://cookielearning.herokuapp.com"><b>cookielearning.herokuapp.com</b></a>. This is another branch of Cookie.
            </h5>
        </div>
        <div class="bottom-tab">
            <h5>
                To become a complete cookie member and build amazing programs with the developers of cookie contact <b>
                    cookielearning@gmail.com </b>. People who are really interested in learning programming will get
                great knowledge and help here. Students who wish to learn programming will be given higher
                preference!!..
            </h5>
        </div>
        <div class="bottom-tab">
            <h5>If you like our web application and want to support us or criticize us please leave your reviews in
                <b><a href="https://cookiereview.herokuapp.com">cookiereview.herokuapp.com</a> </b> <br> Your
                reviews will be very helpful for us!!..</h5>
        </div>
    </div>
</div>
{% endblock content %}