{% extends 'home/base.html' %}

{% block content %}
<div id="main-container">
    <div class="container frame" id="search-container">
        <div class="title-tagline">
            <h2 class="center" id="tagline">Cookie is here to help you!!..</h2>
            <h4 class="center grey-text">What do you want to search in Google</h4>
            <h6 class="center grey-text">{{ response }}</h6>
        </div>
        <!-- Input area -->
        <form action="{% url 'google_response' %}" method="post">
            {% csrf_token %}
            <div class="input-field">
                <div class="row">
                    <div class="col s12 m12 l9">
                        <input type="text" name="search" class="validate" placeholder="Ask cookie">
                    </div>

                    <div class="col s12 m12 l3">
                        <button class="btn waves-effect waves-light cyan" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}