{% extends 'home/base.html' %}

{% block content %}

<!-- Main conatiner -->
<div id="main-container" >
    <div class="container frame" id="search-container">
        <div class="title-tagline">
            <h2 class="center" id="tagline">Cookie is here to help you!!..</h2>
        </div>
        <!-- Input area -->
        <form action="{% url 'new_search' %}" method="post">
            {% csrf_token %}
            <div class="input-field">
                <div class="row">
                    <div class="col s12 m12 l9">
                        <input type="text" name="search" class="validate" placeholder="Ask cookie">
                    </div>

                    <div class="col s12 m12 l3">
                        <button class="btn waves-effect waves-light cyan" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <button class="btn waves-effect waves-light cyan" type="submit" name="action">
                            <i class="material-icons">mic</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!-- Cookie commands -->
    <div class="container frame" id="">
        <div id="userules">
            <h4 class="brown-text center">How to use cookie??</h4>
            <ul>
                <li><i class="material-icons">star</i>Cookie is a trial virtual assisstant which performs the basic commands given to it.</li>
                <li><i class="material-icons">star</i>You can either search by typing or use voice commands.  </li>
                <li><i class="material-icons">star</i>Activate voice commands by clicking the mic button</li>
                <li><i class="material-icons">star</i>Type or speak Google to search in Google.</li>
                <li><i class="material-icons">star</i>Type or speak Wikipedia to search in Wikipedia.</li>
                <li><i class="material-icons">star</i>Type or speak YouTube to search in YouTube.</li>
                <li><i class="material-icons">star</i>Type or speak Location to search in Google Maps.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}