{% extends 'home/base.html' %}

{% block content %}
<!-- Main conatiner -->
<div id="main-container" >
    <div class="container frame" id="search-container">
        <div class="title-tagline">
            <h2 class="center" id="tagline">Cookie is here to help you!!..</h2>
        </div>
        <!-- Input area -->
        <form action="{% url 'new_search' %}" method="post">
            {% csrf_token %}
            <div class="input-field">
                <div class="row">
                    <div class="col s12 m11 l11">
                        <div class="l9 s9 m9">
                        <input type="text" name="search" class="validate" placeholder="Ask cookie">
                        </div>
                        <div class="l3 s3 m3 right">
                        <button class="btn waves-effect waves-light cyan right" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        </div>
                    </div>
        </form>
                    <div class="col s12 m1 l1">
        <form action="{% url 'voice_search' %}" method="get">
            {% csrf_token %}
                        <button class="btn waves-effect waves-light cyan right" type="submit" name="action">
                            <i class="material-icons">mic</i>
                        </button>
                    </div>
                </div>
        </form>
                <div class="row">
                    <div class="col s3 l3 m3">
                        <form action="{% url 'google_search' %}" method="GET">
                            <button class="btn waves-effect waves-light green" style="width: 100%;" type="submit" name="action">
                                Google<i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                    <div class="col s3 l3 m3">
                        <form action="{% url 'wiki_search' %}" method="GET">
                            <button class="btn waves-effect waves-light blue" style="width: 100%;" type="submit" name="action">
                                Wikipedia<i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                    <div class="col s3 l3 m3">
                        <form action="{% url 'ytube_search' %}" method="GET">
                            <button class="btn waves-effect waves-light red" style="width: 100%;" type="submit" name="action">
                                Youtube<i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                    <div class="col s3 l3 m3">
                        <form action="{% url 'gmaps_search' %}" method="GET">
                            <button class="btn waves-effect waves-light yellow" style="width: 100%;" type="submit" name="action">
                                Google Maps<i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div> 
        </div>
    </div>
<!-- Cookie commands -->
    <div class="container frame" id="">
        <div id="userules">
            <h4 class="brown-text center">How to use cookie??</h4>
            <ul>
                <li><i class="material-icons">star</i>Cookie is a trial virtual assisstant which performs the basic commands given to it.</li>
                <li><i class="material-icons">star</i>You can start searching in Google, Wikipedia, YouTube and Google Maps by clicking the buttons given below search bar.</li>
                <li><i class="material-icons">star</i>Voice queries can also be recognized by Cookie.</li>
                <li><i class="material-icons">star</i>To know more aboout Cookie read the Cookie Documentation given in the menu.</li>
            </ul>
        </div>  
    </div>
</div>
{% endblock content %}