{% extends 'home/base.html' %}

{% block content %}
<div id="main-container">
    <div class="container frame" id="search-container">
        <div class="title-tagline">
            <h2 class="center purple-text" id="docs-title">New Updates</h2>
        </div>
        <div class="update-version" id="onepointone" style="padding: 5vw;">
            <h5 class="pink-text text-lighten-1 doc-head"><i class="material-icons">favorite</i><b>Cookie 1.1 (scheduled
                    to be released at December 2020)</b></h5>
            
            <h6 class="brown-text">The new features to be added are:-</h6>
            <ul>
                <li>1. Option for searching for songs and albums (Gaana)</li>
                <li>2. Results to be displayed in same tab.</li>
                <li> 3. Voice output and interactive mode (Where Cookie will continuously communicate with you!!..)</li>
                <li> 4. Improved search speed.</li>
                <li> 5. Asynchronisation of web page so time taken for fetching results and data consumed will get less.</li>
                <li> 6. Improved Graphical User Interface</li>
                <li> # Further features to be added will be shared soon for cookie users.</li>
            </ul>
        </div>

        <div class="update-version" id="onepointone" style="padding: 5vw;">
            <h5 class="pink-text text-lighten-1 doc-head"><i class="material-icons">favorite</i><b>Cookie 2.0
                    (scheduled to be released at March 2021)</b></h5>

            <h6 class="brown-text">The new features to be added are:-</h6>
            <ul>
                <li>1. New system of user sign in where your search results can be saved.</li>
                <li>2. A framework for saving your own project, research or study materials for future purposes.</li>
                <li>3. Enabling extra feature of artificial intelligence which improves the communicative skills of cookie.</li>
                <li> 4. Creation of a new community platform where users can share their works or post questions.
                </li>
                <li> # Further features to be added will be shared soon for cookie users.</li>
            </ul>
        </div>
            <h6 style="padding: 0vw 4vw;">
                Learn more about programming and become a master programmer in <a
                    href="https://cookielearning.herokuapp.com"><b>cookielearning.herokuapp.com</b></a>. This is another
                branch of Cookie.
            </h6>
            <br>
            <h6 style="padding: 0vw 4vw;">
                To become a complete cookie member and build amazing programs with the developers of cookie contact
                <b>cookielearning@gmail.com</b>
                . People who are really interested in learning programming will get great
                knowledge and help here. Students who wish to learn programming will be given higher preference!!..
            </h6>
            <br>
            <h6 style="padding: 0vw 4vw 3vw 4vw;">If you like our web application and want to support us or criticize us please leave your reviews in
                <b><a href="https://cookiereview.herokuapp.com">cookiereview.herokuapp.com</a> </b> <br> <br> Your
                reviews will be very helpful for us!!..</h6>
    </div>
</div>
{% endblock content %}