{% extends 'home/base.html' %}

{% block content %}
<div id="main-container">

<div class="container frame" id="search-container">
    <div class="title-tagline">
        <h2 class="center" id="tagline">Cookie is here to help you!!..</h2>
        <h4 class="center grey-text">Click the microphone icon and start speaking!!..</h4>
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="record">
        <button class="btn waves-effect waves-light pink center circle"type="submit" name="action" style="height: 110px; width: 100px; left: 30vw;">
            <i class="large material-icons" style="font-size: 60px;">mic</i>
        </button>
    </form>
    <h4 class="center grey-text" style="padding-bottom: 20px;">{{ response|title }}</h4>
</div>
</div>
{% endblock content %}