* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('cookie.jpg');
    background-size: cover;
    background-position: center;
    background: fixed;
}

.menu-icon {
    color: white;
}

.title {
    color: white;
    font-size: 3vw;
    font-family: 'Acme';
    margin: 8px auto;
    padding: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: whitesmoke;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 30px;
    color: rgba(117, 48, 48, 1);
    text-align: center;
    line-height: 70px;
    background: rgb(221, 218, 218);
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: rgba(117, 48, 48, 1);
    padding-left: 2vw;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.sidebar ul li:hover a {
    padding-left: 4vw;
}

#check {
    display: none;
}

label #menu,
label #cancel {
    position: absolute;
    cursor: pointer;
}

label #menu {
    z-index: 1111;
    top: 1vw;
    left: 2vw;
    font-size: 30px;
    color: white;
    transition: all .5s ease;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 10px;
    font-size: 35px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #menu {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

/* home page */
#main-container {
    border-radius: 2vw;
    background: whitesmoke;
    padding: 20px;
}
#tagline {
    font-family: 'Alata';
    font-size: 2.6vw;
}
#userules {
    border-radius: 3vw;
    border: 1px solid rgba(117, 48, 48, 1);
}
#userules ul li {
    margin-left: 2vw;
    font-size: 1.6vw;
    font-family: 'Averia Serif Libre';
    line-height: 3vw;
}